DB_HOST=localhost
DB_PORT=3306
DB_NAME=inspire
DB_USERNAME=
DB_PASSWORD=

# MariaDB 옵션
DB_OPTIONS=authenticationPlugins=org.mariadb.jdbc.plugin.authentication.standard.StandardAuthentication&usePamAuth=false&useGssApi=false&useSsl=false
