<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myfridge.user.repository.UserMapper">
    <!-- countByUserId -->
    <select id="countByUserId" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE user_id = #{userId}
    </select>
    <!-- insertUser -->
    <insert id="insertUser">
        INSERT INTO users (user_id, name, password, birth_year)
        VALUES (#{userId}, #{name}, #{password}, #{birthYear})
    </insert>
    <!-- insertUserPrefer -->
    <insert id="insertUserPrefer">
        INSERT INTO users_prefer (user_id, tag_id)
        VALUES
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{userId}, #{tagId})
        </foreach>
    </insert>
</mapper>